*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}
body{
    background-color: rgb(51, 51, 51);
    margin: 0;
    padding: 0;
    
}

header{
    background-color: rgb(190, 100, 16);
    color: rgb(255, 255, 255);
}
.receita{
    margin: 0 auto;
    padding: 20px;
}

.preparo{
    margin: 0px auto;
    padding: 20px;
}


footer{
    background-color: black;
    width: 100%;
    color: gray;
    bottom: 0px;
    position: fixed;
}

.imagem1{
    right: 30px;
    width: 300px;
    position: fixed;
    top: 100px;
    border:solid 3px;
    border-radius: 10px;
}
.imagem2{
    left: 30px;
    width: 250px;
    position: fixed;
    top: 100px;
    border:solid 3px;
    border-radius: 10px;

}